<form [formGroup]="formGroup" id="signup-form" class="signup-form" (submit)="ngSubmitForm()">
    <div class="form-group">
        <input
            type="password"
            class="form-input"
            placeholder="newPassword"
            formControlName="newPassword"
            [class.border-danger]="formControl.newPassword.touched && formControl.newPassword.invalid"
        />
    </div>
    <div class="form-group">
        <input
            type="password"
            class="form-input"
            placeholder="confirmPassword"
            formControlName="confirmPassword"
            [class.border-danger]="formControl.confirmPassword.touched && formControl.confirmPassword.invalid"
        />
    </div>
    <div class="form-group">
        <input type="submit" name="submit" id="submit" class="form-submit" value="Đổi mật khẩu" />
    </div>
</form>