<app-form-wrapper>
    <div class="form-content">
        <h2 class="form-title">Quên mật khẩu</h2>
        <ng-container
            *ngIf="step === 1"
            [ngTemplateOutlet]="step1"
        ></ng-container>

        <ng-container *ngIf="step === 2">
            <app-confirm-otp 
                [forgotPassword]="formGroup.value"
                (confirmSuccess)="confirmOtpSuccess($event)"
            ></app-confirm-otp>
        </ng-container>

        <ng-container *ngIf="step === 3">
            <app-change-password-otp
                [confirmOtp]="formGroup.value"
            ></app-change-password-otp>
        </ng-container>
    </div>
</app-form-wrapper>

<ng-template #step1>
    <form [formGroup]="formGroup" id="signup-form" class="signup-form" (submit)="ngSubmitForm()">
        <div class="form-group">
            <input 
                class="form-input"
                placeholder="Tên đăng nhập"
                formControlName="username"
                [class.border-danger]="formControl.username.touched && formControl.username.invalid"
            />
        </div>
        <div class="form-group">
            <input 
                class="form-input"
                placeholder="Email"
                formControlName="email"
                [class.border-danger]="formControl.email.touched && formControl.email.invalid"
            />
        </div>
        <div class="form-group">
            <input type="submit" name="submit" id="submit" class="form-submit" value="Reset Mật khẩu" />
        </div>
    </form>
    <div class="text-center">
        <a [routerLink]="['/auth', 'login']" class="loginhere-link">Đăng nhập</a>
    </div>
</ng-template>